<!DOCTYPE html>
<html lang="ko" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all and (min-width:1200px)" href="/css/defaultPC.css">
    <link rel="stylesheet" media="all and (max-width:1199px)" href="/css/defaultMOBILE.css">
    <link rel="stylesheet" href="/css/partyEditForm.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.2.1-web/css/all.min.css">
    <script src="/css/fontawesome-free-6.2.1-web/js/all.min.js"></script>
    <script defer src="/js/app.js"></script>
    <title>PartyPlay</title>
</head>

<body>
    <div class="menu" style="display: none;">
        <div class="menuBox">
            <div>
                <a href="partyManageMain">내파티 관리</a>
            </div>
            <div>
                <a href="support">고객센터</a>
            </div>
            <div>
                <a href="createParty">파티 생성</a>
            </div>
        </div>
    </div>

    <header> <!-- 헤더(로고, 메뉴, 회원정보) -->
        <div class="menubar">
            <div><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="logo">
            <a href="./main">
                <img src="./img/logo.png" alt="">
            </a>
        </div>
        <div class="account">
            <div>
                <a class="myAccount" href="account">내정보</a>
            </div>
            <div>
                <a class="logOut" href="logOut ">로그아웃</a>
            </div>
        </div>
    </header>

    <div class="mainBox">
        <aside> <!-- 왼쪽 광고 -->
            <div class="ad1">
                <img class="ad" src="">
            </div>
        </aside>

        <main> <!-- 메인 화면(카테고리, 파티칸) -->
            <div class="partyEditTop">
                <h1>파티 수정</h1>
            </div>
            <form>
                <div class="partyEdit">
                    <div class="partyEditL">
                    <label for="">
                        카테고리 <select name="" id="" required>
                            <option value="">카테고리를 선택해 주세요<!-- Java Script, 파티의 원래 카테고리 받아오기 --></option>
                            <option value="video" <%if(category == 'video'){%>selected<%}%>>영상</option>
                            <option value="music" <%if(category == 'music'){%>selected<%}%>>음악</option>
                            <option value="etc" <%if(category == 'etc'){%>selected<%}%>>기타</option>
                        </select>
                    </label>
                    <label for="">
                        파티이름 <input type="text" name="" id="" value="<%=title%>" required><!-- Java Script, 파티의 원래 제목 받아오기 -->
                    </label>
                    <label for="">
                        모집인원 <input type="number" name="" id="" value="<%=party_per%>" min="1" max="10" required><!-- Java Script, 파티의 원래 모집인원 받아오기 -->
                    </label>
                    <label for="">
                        진행 기간 <input type="date" id="EditDate" value="<%=start_date%>" readonly>~<input type="date" name="" id="maxDate" value="<%=end_date%>"
                            required><!-- Java Script, 파티의 원래 진행 기간 받아오기 -->
                    </label>
                    <label for="" style="display: inline;">
                        1일당 금액 <input type="number" name="" id="dayPay" required><button type="button" id="calculateBtn">계산</button>
                        <div id="payCalculate">n일 × n원 = n원</div><!-- Java Script, 파티의 원래 일일당 금액 받아오기 -->
                        <input type="text" name="" value="<%=result_price%>" style="display: none;">
                    </label>
                </div>
                    <div class="partyEditR">
                        <label for="">
                        카카오톡 오픈채팅방 <br><input type="url" class="chatUrl" name="" id="" placeholder="파티를 만들기전 오픈채팅방을 만드세요" required>
                    </label><!-- Java Script, 파티의 원래 오픈채팅방 받아오기 -->
                    <label for="">
                        오픈채팅방 비밀번호 <br><input type="text" class="chatPass" name="" id="" required>
                    </label><!-- Java Script, 파티의 원래 오픈채팅방 비밀번호 받아오기 -->
                    <label for="">
                        부가 설명 <br><textarea style="resize: none;" name="" id="" cols="50" rows="5"></textarea>
                    </label><!-- Java Script, 파티의 원래 카테고리 받아오기 -->
                        <input type="submit" class="submit" value="수정하기">
                    </div>
                </div>
            </form>
        </main>

        <aside> <!-- 오른쪽 광고 -->
            <div class="ad2">
                <img class="ad" src="">
            </div>
        </aside>
    </div>
    <footer> <!-- 정보칸 -->
        <div class="information">
            <div>PartyPlay는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 파티정보, 구매에 관한 의무와 책임은 판매자에게 있습니다.</div>
            <div>PartyPlay는 소비자 보호와 안전거래를 위해 고객센터를 운영하고 있으며, 분쟁이 발생 된 경우 별도의 분쟁처리절차에 의거분쟁해결 및 청약철회 등이 진행 됩니다.</div>
            <div>조장: 이동인 제작 인원: 3명(김승민, 이동인, 이호재) 상일미디어 고등학교: 서울특별시 강동구 천호대로219길 61</div>
        </div>
    </footer>
</body>
<script>
    
    const now_utc = Date.now()
    const timeOff = new Date().getTimezoneOffset() * 60000;
    const today = new Date(now_utc - timeOff).toISOString().split("T")[0];

    const maxDateY = parseInt(today.substring(0, 4)) + 1;

    const maxDateYMD = maxDateY + today.substring(4, 10);

    document.getElementById('createDate').value = new Date().toISOString().slice(0, 7);
    document.getElementById('createDate').value = new Date().toISOString().substring(0, 10);

    document.getElementById('maxDate').setAttribute("min", today);
    document.getElementById('maxDate').setAttribute("max", maxDateYMD);

    const getDateDiff = (d1, d2) => {
        const date1 = new Date(d1);
        const date2 = new Date(d2);

        const diffDate = date1.getTime() - date2.getTime();

        return Math.abs(diffDate / (1000 * 60 * 60 * 24));
    }

    let payCal = document.getElementById("payCalculate");

    const calBtn = document.getElementById("calculateBtn");
    calBtn.addEventListener("click", () => {
        if (document.getElementById("dayPay").value == '' || document.getElementById("maxDate").value == '') {
            alert("필수값이 아직 입력되지 않았습니다.")
        } else {
            let dayPay = document.getElementById("dayPay").value;
            let dayCount = getDateDiff(document.getElementById("createDate").value, document.getElementById("maxDate").value);
            let result = (dayCount+1) * dayPay;
            payCal.innerText = `${dayCount+1}일 × ${dayPay}원 = ${result}원`
            document.querySelector("#result_price").value = result;
        }
    })
</script>
</html>